select{
    width:100%
}
input{
    width:100%
}
.button{
    margin-right:auto;
}
#title{
}
#example{
    background-color: #eeeeee;
    
}
ul{
    font-size: 13px;
}
p2{
    float: left;
}
p3{
    float: right;
}
iframe{
    margin-left:auto;
}
p1{
    font-size:40px;
    font-weight:bold;
    margin: auto;
}
.center{
    font-size:20px;
    font-weight:bold;
    text-align: center;
}
.block {
    margin:40;
    padding: 20px;
    background: #fff;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    -moz-box-shadow: 0 2px 3px 0 #ddd;
    -webkit-box-shadow: 0 2px 3px 0 #ddd;
}